<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Crochang</title>
    <script src="https://kit.fontawesome.com/c619b5aeec.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
</head>

<body>
    <section id="header">
        <a href="#"><p class="logo">LOGO</p></a>
        <div>
            <ul id="navbar">
                <li><a class="active" href="index.ejs">Home</a></li>
                <li><a href="shop">Shop</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">Contact</a></li>
                <li><a href="checkout"><i class="fa-solid fa-cart-arrow-down fa-lg"></i></a></li>
            </ul>
        </div>
    </section>



    <footer>
        <div class="col">
            <h4>Contact</h4>
            <p><b>Phone:</b> (XXX) XXX - XXXX</p>
            <p><b>Email:</b> XXXXXXXXXX@gmail.com</p>
            <p><b>Hours:</b> 10:00 - 18:00, Sat-Sun</p>
            <div class="follow">
                <h4>Follow Us</h4>
                <div class="icon">
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-pinterest"></i>
                    <i class="fa-brands fa-youtube"></i>
                </div>
            </div>
        </div>
    </footer>
    <sctipt src="script.js"></sctipt>
</body>

</html>